<html>
   <body>
      {% extends "template.html" %}
    {% block content %}
      <center>
      <form action = "http://localhost:5000/login" method = "get">
      <fieldset><legend>Sign In: </legend>
         <p>User Name:</p>
         <p><input type = "text" name = "uname" /></p>
         <p><input type = "password" name = "upwd" /></p>
         <p><input type = "submit" value = "submit" /></p>
         </fieldset>
      </form></center>
      {% endblock %}
   </body>
</html>
